html {
	background: #222526;
	margin: 0 20px;
}

body {
	background: #fff;
	color: #444;
	font-family: 'Microsoft YaHei', "Open Sans", sans-serif;
	margin: 190px auto 25px;
	padding: 20px 20px 10px 20px;
	max-width: 600px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.13);
	box-shadow: 0 1px 3px rgba(0,0,0,0.13);
}

a {
	color: #0073aa;
}

a:hover,
a:active {
	color: #00a0d2;
}

a:focus {
	color: #124964;
	-webkit-box-shadow:
		0 0 0 1px #5b9dd9,
		0 0 2px 1px rgba(30, 140, 190, .8);
	box-shadow:
		0 0 0 1px #5b9dd9,
		0 0 2px 1px rgba(30, 140, 190, .8);
}

.ie8 a:focus {
	outline: #5b9dd9 solid 1px;
}

h1, h2 {
	border-bottom: 1px solid #dedede;
	clear: both;
	color: #666;
	font-size: 24px;
	padding: 0;
	padding-bottom: 7px;
	font-weight: normal;
}

h3 {
	font-size: 16px;
}

p, li, dd, dt {
	padding-bottom: 2px;
	font-size: 14px;
	line-height: 1.5;
}

code, .code {
	font-family: 'Microsoft YaHei', Consolas, Monaco, monospace;
}

ul, ol, dl {
	padding: 5px 5px 5px 22px;
}

a img {
	border:0
}
abbr {
	border: 0;
	font-variant: normal;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

label {
	cursor: pointer;
}

#logo {
	margin: -170px 0 37px 0;
    padding: 0 0 7px 0;
    border-bottom: none;
    text-align: center;
}
#logo a {
	background-image: url(../images/logo.png);
    -webkit-background-size: 180px;
    background-size: 180px;
    background-position: center top;
    background-repeat: no-repeat;
    color: #999;
    height: 180px;
    width: 300px;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.3em;
    margin: -110px auto -50px;
    padding: 0;
    text-decoration: none;
    text-indent: -9999px;
    outline: none;
    overflow: hidden;
    display: block;
}

#logo a:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.step {
	margin: 20px 0 15px;
}

.step, th {
	text-align: left;
	padding: 0;
}

.form-table {
	border-collapse: collapse;
	margin-top: 1em;
	width: 100%;
}

.form-table td {
	margin-bottom: 9px;
	padding: 10px 20px 10px 0;
	font-size: 14px;
	vertical-align: top
}

.form-table th {
	font-size: 14px;
	text-align: left;
	padding: 10px 20px 10px 0;
	width: 140px;
	vertical-align: top;
}

.form-table code {
	line-height: 18px;
	font-size: 14px;
}

.form-table p {
	margin: 4px 0 0 0;
	font-size: 11px;
	display: inline;
}

.form-table input {
	line-height: 20px;
	font-size: 15px;
	padding: 3px 5px;
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
}

input,
submit {
	font-family: 'Microsoft YaHei',"Open Sans", sans-serif;
}

.form-table input[type=text],
.form-table input[type=email],
.form-table input[type=url],
.form-table input[type=password] {
	width: 206px;
}

.form-table th p {
	font-weight: normal;
}

.form-table.install-success th,
.form-table.install-success td {
	vertical-align: middle;
	padding: 16px 20px 16px 0;
}

.form-table.install-success td p {
	margin: 0;
	font-size: 14px;
}

.form-table.install-success td code {
	margin: 0;
	font-size: 18px;
}


.message {
	border: 1px solid #c00;
	padding: 0.5em 0.7em;
	margin: 5px 0 15px;
	background-color: #ffebe8;
}


.form-table span.description.important {
	font-size: 12px;
}


/* localization */
body.rtl,
.rtl textarea,
.rtl input,
.rtl submit {
	font-family: 'Microsoft YaHei', Tahoma, sans-serif;
}

:lang(he-il) body.rtl,
:lang(he-il) .rtl textarea,
:lang(he-il) .rtl input,
:lang(he-il) .rtl submit {
	font-family: 'Microsoft YaHei', Arial, sans-serif;
}

@media only screen and (max-width: 799px) {
	body {
		margin-top: 115px;
	}
	#logo a {
		margin: -125px auto 30px;
	}
}

@media screen and ( max-width: 782px ) {

	.form-table {
		margin-top: 0;
	}

	.form-table th,
	.form-table td {
		display: block;
		width: auto;
		vertical-align: middle;
	}

	.form-table th {
		padding: 20px 0 0;
	}

	.form-table td {
		padding: 5px 0;
		border: 0;
		margin: 0;
	}

	textarea,
	input {
		font-size: 16px;
	}

	.form-table td input[type="text"],
	.form-table td input[type="email"],
	.form-table td input[type="url"],
	.form-table td input[type="password"],
	.form-table td select,
	.form-table td textarea,
	.form-table span.description {
		width: 100%;
		font-size: 16px;
		line-height: 1.5;
		padding: 7px 10px;
		display: block;
		max-width: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

}

#encrypt_enable, #keep_session_enable, #mail_enable, #xff_enable, #admin_ip_check_enable{
	margin-right: 200px;
}

.core-ui .button {
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    -webkit-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
	display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}