html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd, ol, ul, li,
table, tfoot, thead, tr, th, td,
article, aside, canvas, details, footer, header, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/* HTML5 display-role reset for older browsers */
body {
    line-height: 1;
    font-size: 12px;
}

ol, ul {
    list-style: none;
}

html, body {
    height: 100%;
    font-family: 'Microsoft YaHei','Open Sans',arial,sans-serif;
}

html,
body,
.container-fluid,
.row,
.column {
    height: 100%;
}

/* font */
@font-face {
    font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?c8m22a');
	src:url('../fonts/icomoon.eot?#iefixc8m22a') format('embedded-opentype'),
		url('../fonts/icomoon.woff?c8m22a') format('woff'),
		url('../fonts/icomoon.ttf?c8m22a') format('truetype'),
		url('../fonts/icomoon.svg?c8m22a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
	/* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logout:before {
    content: "\e900";
}

.icon-info:before {
    content: "\e904";
}

.icon-template:before {
    content: "\e901";
}

.icon-my-js:before {
    content: "\e903";
}

.icon-panel:before {
    content: "\e902";
}

.icon {
    margin-right: 0.917em;
}

/* Bootstrap overrides*/
.row,
.container-fluid {
    padding: 0;
    margin: 0;
}

.column {
    padding-left: 0;
    padding-right: 0;
}

/* Nav section */
#nav-section {
    background-color: #35373d;
    width: 220px;
    float: left;
    height: 100%;
}

#nav-section li {
    border-bottom: 1px solid #4a4b51;
    white-space: nowrap;
    font-size: 11px;
    line-height: 11px;
}

#nav-section li a {
    color: #b8bbc2;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 2em;
    font-size: 14px;
    padding: 2em 1.2em;
}

#nav-section li:hover {
    background-color: #212329;
}

#nav-section li.active {
    background-color: #0d1016;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background: none;
}

#dash-logo {
    color: #fff;
    background-color: #1996e4;
    text-align: center;
}

#sidebar-nav {
    padding: 0;
}

#rights {
    width: 100%;
    color: #848690;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    line-height: 120%;
}


/* Toggle button */
#toggle-button {
    margin-top: 27px;
    border: none;
}

#toggle-button:hover,
#toggle-button:focus {
    background-color: transparent;
}

#toggle-button .icon-bar {
    background-color: #fff;
}

/* Main section */
.main-section {
    float: none;
    width: auto;
    overflow: hidden;
    height: 100%;
    background-color: #eee;
}

#dash-logo,
.main-section-header > h2 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 26px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-section-header > h2 {
    padding-left: 1.667em;
    white-space: nowrap;
}

.main-section-header {
    height: auto;
    border-bottom: 1px solid #ededee;
    -moz-box-shadow: 1px 0 4px #ededee;
    -webkit-box-shadow: 1px 0 4px #ededee;
    box-shadow: 1px 0 4px #ededee;
    background-color: #fff;
}

/* 一些常用的style类 */
.overflow-hidden {
    overflow: hidden;
}

.display-none {
    display: none;
}

.clear {
    clear: both;
}

/* 提示窗体样式 */
.windows {
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.windows-tip-div {
    margin: 3px;
}

.windows-button-div {
    float: right;
    margin-top: 15px;
}

.windows-button {
    margin-right: 10px;
}

#search_input_field {
    width: 200px;
    height: 23px;
}

.dropdownlist {
    margin-top: 5px;
}

.search_div {
    margin-top: 7px;
    clear: both;
}

.search_input_field {
    margin-top: 5px;
}

#findButton {
    margin-top: 15px;
    margin-left: 50px;
    float: left;
}

#clearButton {
    margin-left: 5px;
    margin-top: 15px;
    float: left;
}


/* js列表 */
.listbox {
    border: none;
}

.listbox_toolbar {
    position: relative;
    height: 40px;
}

#myJS_add_button, 
#myJS_del_button, 
#myJS_clear_button,
#jsTemplate_add_button, 
#jsTemplate_del_button,
#jsTemplate_clear_button {
    float: left;
    margin-left: 5px;
}

.listbox_toolbar_button_icon {
    position: relative;
    margin-top: 2px;
}

.listbox_toolbar_button_span {
    margin-left: 4px;
    position: relative;
    top: 3px;
}

.listbox_item_table {
    min-width: 130px;
}

.listbox_item_img {
    width: 40px;
}

.listbox_item_name {
    padding: 0px 5px;
    font-weight: bold;
    font-size: 14px;
}

.listbox_item_description {
    padding: 0px 5px;
}

/* js编辑面板 */
.js_content_panel {
    margin: 20px;
}

.js_content_div {
    margin: 5px;
}

.js_content_button_div {
    text-align: center;
    margin: 5px auto;
}

/* 编辑器样式 */
.editor {
    border: 1px solid #d4d4d4;
    margin: 10px 5px;
}

#myJS_content, #jsTemplate_content {
    width: "98%";
}

/* xssor */
#Ww_B_0 {
    margin: 10px;
}

#Ww_B_0_Left {
    width: 310px;
    height: 233px;
    float: left;
}

#Ww_B_0_textarea {
    width: 300px;
    height: 230px;
}

#Ww_B_0_Right {
    width: 245px;
    height: 230px;
    float: left;
    overflow: hidden;
    padding-left: 5px;
}

/* about us */
#about_detail {
    height: 0px;
    padding-bottom: 100%;
}

#about_us_banner {
    background-attachment: fixed;
    background-color: #272833;
    background-image: url("../images/banner.png");
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
    min-height: 100vh;
    position: relative;
    text-align: center;
    z-index: 21;
}

#firesun {
    margin-top: 4em;
}

#about_us_banner .content {
    overflow: auto;
    display: inline-block;
    margin-right: 1%;
    max-width: 95%;
    padding: 2em;
    position: relative;
    text-align: right;
    vertical-align: middle;
    z-index: 1;
}

#about_us_banner .content header {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

#about_us_banner .content header h2 {
    font-size: 2.5em;
    margin: 0;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: -0.025em;
}

#about_us_banner .content header p {
    margin: 0.5em 0 0 0;
    top: 0;
    font-size: 1.25em;
    line-height: 1.75em;
    color: #ffffff;
    position: relative;
}

#about_us_banner .content .image {
    border-radius: 100%;
    display: inline-block;
    height: 18em;
    margin-left: 3em;
    vertical-align: middle;
    width: 18em;
}

#about_us_banner a:link, 
a:visited { 
	color:#FFFFFF;
	text-decoration:underline;
} 

#about_us_banner a:hover, 
a:active { 
	color:#FFFFFF;
	text-decoration:none;
} 

#about_us_banner .content .image .img {
    border-radius: 100%;
    display: block;
    width: 100%;
}

#about_us_banner .content .image {
    border-radius: 100%;
    display: inline-block;
    height: 18em;
    margin-left: 3em;
    vertical-align: middle;
    width: 18em;
}

#about_us_banner .content .logoimage .logoimg {
    display: block;
    width: 100%;
}

#about_us_banner .content .logoimage {
    border-radius: 100%;
    display: inline-block;
    height: 18em;
    margin-left: 3em;
    vertical-align: middle;
    width: 18em;
}

#about_us_banner .content .image .img {
    border-radius: 100%;
    display: block;
    width: 100%;
}